<template>
  <!-- idk, did v-app required or v-layout -->
  <v-app>
    <!-- idk, did clipped and clipped-left/right work, maybe will work in future? -->
    <v-navigation-drawer expand-on-hover :rail="rail" permanent clipped app>
      <v-list-item
        prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
        title="John Leider"
      >
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav>
        <v-list-item
          v-for="(route, i) in routes"
          :key="i"
          :to="route.url"
          :title="route.title"
          prepend-icon="mdi-arrow-right-bold"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed clipped-left app>
      <v-app-bar-nav-icon @click.stop="rail = !rail"></v-app-bar-nav-icon>

      <v-toolbar-title>Title</v-toolbar-title>

      <v-btn variant="text" href="https://github.com">
        Github <v-icon icon="mdi-git"></v-icon>
      </v-btn>
      <v-btn variant="text" href="https://gitlab.com">
        Gitlab <v-icon icon="mdi-git"></v-icon>
      </v-btn>
    </v-app-bar>

    <v-main app>
      <v-container>
        <slot></slot>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts" setup>
const rail = ref(true);
const routes = reactive([
  {
    title: "Home",
    url: "/",
  },
]);
</script>
