<template>
  <div>
    <v-row>
      <v-col cols="12">
        <v-alert type="info" color="gray">
          <strong>Vuetify 3</strong> & <strong>Nuxt 3</strong> currently in
          development. Probably, could have troubles on production.
        </v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        class="d-flex"
        cols="12"
        md="6"
        lg="4"
        v-for="(card, i) in cards"
        :key="i"
      >
        <v-card class="d-flex flex-column">
          <v-card-title>
            <strong>{{ card.title }}</strong>
            <v-spacer></v-spacer>
            <v-avatar size="64">
              <v-img cover :src="card.image"></v-img> </v-avatar
          ></v-card-title>

          <v-card-text v-html="card.description"> </v-card-text>

          <v-card-actions>
            <v-btn color="purple" variant="text" link :href="card.href"
              >Website</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>


<script lang="ts" setup>
useHead({
  title: "Nuxt3",
  titleTemplate: "%s - Home",
  meta: [
    { name: "description", content: "Home page of nuxt3 application" },
    { property: "og:description", content: "Home page of nuxt3 application" },
    {
      property: "og:image",
      content:
        "https://pbs.twimg.com/profile_images/1438501794754142212/_SXc-Z_h_400x400.jpg",
    },
    { property: "og:title", content: "Home Page" },
    { property: "og:url", content: "https://nuxt3.starserv.ru" },
    { property: "og:locale", content: "en_US" },
    { property: "og:type", content: "website" },
  ],
});
const cards = reactive([
  {
    title: "Vue 3",
    description: `<strong>The Progressive JavaScript Framework</strong>. An
              approachable, performant and versatile framework for building web
              user interfaces.`,
    image: "/vue.png",
    href: "",
  },
  {
    title: "Nuxt 3",
    description: `<strong>The Hybrid Vue Framework</strong>. Build your next
            application with Vue 3 and experience hybrid rendering, powerful
            data fetching and new features. Nuxt 3 is an open source framework
            making web development simple and powerful.`,
    image: "/nuxt.png",
    href: "",
  },
  {
    title: "Vuetify 3",
    description: `<strong>Material Design Framework</strong>. Vuetify is a Vue UI
            Library with beautifully handcrafted Material Components. No design
            skills required — everything you need to create amazing applications
            is at your fingertips.`,
    image: "/vuetify.png",
    href: "",
  },
]);
</script>